---
import { ThemeToggle } from "@/components/theme-toggle";
import { footerLinks, siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import LanguageSwitcher from "@/components/language-switcher.astro";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<footer class={cn("border-t", className)}>
  <div
    class="content-center container grid grid-cols-1 gap-6 py-14 sm:grid-cols-2 md:grid-cols-5"
  >
    {
      footerLinks.map((section) => (
        <div>
          <span class="text-sm font-medium text-foreground">
            {section.title}
          </span>
          <ul class="mt-4 list-inside space-y-3">
            {section.items?.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-sm text-muted-foreground hover:text-primary"
                  target={link.target} 
                  rel={link.target === "_blank" ? "noopener noreferrer" : undefined}
                >
                  {link.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>

  <div class="border-t py-4">
    <div class="container flex items-center justify-between">
      <!-- <span class="text-muted-foreground text-sm">
        Copyright &copy; 2024. All rights reserved.
      </span> -->
      <p class="text-left text-sm text-muted-foreground">
        Made with ❤️ by the{" "}
        <a
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          OpenSource team
        </a>
        <!-- </a>
        . Hosting by{" "}
        <a
          href="https://pointer.gr"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          Pointer
        </a> -->
      </p>

      <div class="flex items-center gap-3">
        <LanguageSwitcher />
        <a
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
          class="text-muted-foreground hover:text-foreground transition-colors"
          aria-label="GitHub"
        >
          <Icon name="github" class="size-5" />
        </a>
        <!-- <ThemeToggle client:load /> -->
      </div>
    </div>
  </div>
</footer>

