<!-- This file handles standalone pages in article format to be used for things like the code-of-conduct -->
---
import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";
import { cn, formatDate } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import MainLayout from "./main-layout.astro";

type Props = {
  title: string;
  description: string;
  pubDate: string;
  updatedDate?: string;
  cover: string;
  category: string;
  slug: string;
};

const { title, description, pubDate, updatedDate, cover, category, slug } = Astro.props;
---

<MainLayout title={title} description={description}>
  <div class="relative container max-w-screen-md py-10">

    <article class="prose dark:prose-invert max-w-none">
      <h1 class="font-heading text-4xl my-4" transition:name={`title-${slug}`}>
        {title}
      </h1>
      <p>{description}</p>
      <slot />
    </article>
  </div>
</MainLayout>